# environment:
#   matrix:
#   - JULIA_URL: "https://julialang-s3.julialang.org/bin/winnt/x64/0.6/julia-0.6-latest-win64.exe"
#   - JULIA_URL: "https://julialangnightlies-s3.julialang.org/bin/winnt/x64/julia-latest-win64.exe"

# ## uncomment the following lines to allow failures on nightly julia
# ## (tests will run but not make your overall status red)
# matrix:
#   allow_failures:
#   - JULIA_URL: "https://julialangnightlies-s3.julialang.org/bin/winnt/x64/julia-latest-win64.exe"

# branches:
#   only:
#     - master
#     - /release-.*/

# notifications:
#   - provider: Email
#     on_build_success: false
#     on_build_failure: false
#     on_build_status_changed: false

# install:
#   - ps: "[System.Net.ServicePointManager]::SecurityProtocol = [System.Net.SecurityProtocolType]::Tls12"
# # If there's a newer build queued for the same PR, cancel this one
#   - ps: if ($env:APPVEYOR_PULL_REQUEST_NUMBER -and $env:APPVEYOR_BUILD_NUMBER -ne ((Invoke-RestMethod `
#         https://ci.appveyor.com/api/projects/$env:APPVEYOR_ACCOUNT_NAME/$env:APPVEYOR_PROJECT_SLUG/history?recordsNumber=50).builds | `
#         Where-Object pullRequestId -eq $env:APPVEYOR_PULL_REQUEST_NUMBER)[0].buildNumber) { `
#         throw "There are newer queued builds for this pull request, failing early." }
# # Download most recent Julia Windows binary
#   - ps: (new-object net.webclient).DownloadFile(
#         $env:JULIA_URL,
#         "C:\projects\julia-binary.exe")
# # Run installer silently, output to C:\projects\julia
#   - C:\projects\julia-binary.exe /S /D=C:\projects\julia

environment:
  matrix:
  - julia_version: 1
  - julia_version: nightly

platform:
  - x86 # 32-bit
  - x64 # 64-bit

# # Uncomment the following lines to allow failures on nightly julia
# # (tests will run but not make your overall status red)
# matrix:
  allow_failures:
  - julia_version: nightly

branches:
  only:
    - master
    - /release-.*/

notifications:
  - provider: Email
    on_build_success: false
    on_build_failure: false
    on_build_status_changed: false

install:
- ps: iex ((new-object net.webclient).DownloadString("https://raw.githubusercontent.com/JuliaCI/Appveyor.jl/version-1/bin/install.ps1"))
# Download and install VC++ for Python silently
  - ps: $env:VC_SOURCE="https://download.microsoft.com/download/7/9/6/796EF2E4-801B-4FC4-AB28-B59FBF6D907B/VCForPython27.msi"
  - ps: $env:VC_DESTINATION="C:\projects\VCForPython27.msi"
  - ps: (new-object net.webclient).DownloadFile(
        $env:VC_SOURCE,
        $env:VC_DESTINATION)
#  - msiexec.exe /i C:\projects\VCForPython27.msi /QN /L*V "C:\Temp\VC_msilog.log"        
  - msiexec /i C:\projects\VCForPython27.msi /quiet /qn /norestart

build_script:
# Need to convert from shallow to complete for Pkg.clone to work
  - IF EXIST .git\shallow (git fetch --unshallow)
  - C:\projects\julia\bin\julia -e "versioninfo(); 
                                    using Pkg;
                                    Pkg.clone(pwd(), \"TriangleMesh\");
                                    Pkg.build(\"TriangleMesh\")"

test_script:
  - C:\projects\julia\bin\julia -e "using Pkg;
                                    Pkg.test(\"TriangleMesh\")"
